@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background: #1d161e;
    background-size: cover;
}

header {
    padding: 20px;
    background: white;
}

header h2{
    font-family: 'Poppins', sans-serif;
    color: #1d161e;
    font-size: 25px;
    text-align: center;
}

.score-board {
    margin: 20px auto;
    border: 3px solid white;
    width: 200px;
    color: white;
    text-align: center;
    font-size: 35px;
    border-radius: 5px;
    padding: 15px 20px;
    font-family: 'Poppins', sans-serif;
    position: relative;
}

.badge {
    background: #744c45;
    font-size: 15px;
    padding: 2px 10px;
}

#user-label {
    position: absolute;
    top: 30px;
    left: -27px;
    border-radius: 3px;
}

#comp-label {
    position: absolute;
    top: 30px;
    right: -33px;
    border-radius: 3px;
}

.result {
    font-size: 35px;
    font-weight: bold;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.result p {
    text-align: center;
}

.choices {
    margin: 30px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.choice {
    display: inline-block;
    margin: 10px 15px;
    position: relative;
    padding: 3px 10px;
    background: white;
    height: 240px;
    width: 200px;
    border-radius: 20px;
    transition: 0.3s ease;
}

.choice img {
    width: 100%;
    height: auto;
}

.choice:hover {
    cursor: pointer;
    background: #365880;
}


#action-message {
    text-align: center;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

/*Animation when pick the choice*/
.green-border {
    outline: 4px solid #00D100;
    outline-offset: 0.25em;
    box-shadow: 0 0 10px #007500;
}
.red-border {
    outline: 4px solid #FF0000;
    outline-offset: 0.25em;
    box-shadow: 0 0 10px #B22222;
}
.gray-border {
    outline: 4px solid #525252;
    outline-offset: 0.25em;
    box-shadow: 0 0 10px #3B3B3B;
}